@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

img {
  overflow: hidden;
  overflow-clip-margin: initial;
  pointer-events: none;
}

a {
  text-decoration: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* svg{
  width: auto;
  height: auto;
} */

/* 
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
*/

svg {
  overflow: visible;
  overflow-clip-margin: initial;
}