.header{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  font-size: 1.4em;
  font-family: 'Noto Sans JP', sans-serif;
}

.info-container,
.profile-container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* 横に並べる　*/
  flex-direction: row;
  padding: 10px;
}

.lv-container{
  padding-right: 10px;
  border-right: 1px solid #ccc;
}

.profile-container{
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.battery-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
}