.tap-effect-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.tap-effect {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  animation: tap-effect 0.5s ease-out forwards;
  transform: scale(0);
  z-index: 9999;
  pointer-events: none;
}

.tap-effect::before,
.tap-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 5px solid rgb(164, 168, 176);
  animation: tap-effect 0.5s ease-out forwards;
}

.tap-effect::after {
  border-width: 10px;
  /* animation-delay: 0.1s; */
}

@keyframes tap-effect {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}